@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Geometria;
  src: url('./assets/fonts/Geometria/Geometria.ttf'),
       url('./assets/fonts/Geometria/Geometria.woff2'),
       url('./assets/fonts/Geometria/Geometria.woff'),
       url('./assets/fonts/Geometria/Geometria.eot');
    font-weight: 400;
}
@font-face {
    font-family: Geometria;
    src: url('./assets/fonts/Geometria/Geometria-Bold.ttf'),
    url('./assets/fonts/Geometria/Geometria-Bold.woff2'),
    url('./assets/fonts/Geometria/Geometria-Bold.woff'),
    url('./assets/fonts/Geometria/Geometria-Bold.eot');
    font-weight: 700;
}
@font-face {
    font-family: Geometria;
    src: url('./assets/fonts/Geometria/Geometria-ExtraBold.ttf'),
    url('./assets/fonts/Geometria/Geometria-ExtraBold.woff2'),
    url('./assets/fonts/Geometria/Geometria-ExtraBold.woff'),
    url('./assets/fonts/Geometria/Geometria-ExtraBold.eot');
    font-weight: 800;
}
@font-face {
    font-family: Geometria;
    src: url('./assets/fonts/Geometria/Geometria-Light.ttf'),
    url('./assets/fonts/Geometria/Geometria-Light.woff2'),
    url('./assets/fonts/Geometria/Geometria-Light.woff'),
    url('./assets/fonts/Geometria/Geometria-Light.eot');
    font-weight: 300;
}



@font-face {
    font-family: Gilroy;
    font-weight: 800;
    src: url('./assets/fonts/Gilroy-FREE/Gilroy-ExtraBold.otf');
}
@font-face {
    font-family: Gilroy;
    font-weight: 300;
    src: url('./assets/fonts/Gilroy-FREE/Gilroy-Light.otf');
}

body {
  margin: 0;
  font-family: Geometria, sans-serif;
}